.sidebar{
    width: 100%;
    min-width: 250px;
    max-width: 350px;
    height: 100vh;
    padding-top: 100px;
    background: rgb(52, 252, 139);
    text-align: center;
    .link{
        margin-bottom: 10px;
    }
    .btn{
        margin-top: 30px;
        padding: 10px 50px;
        background: #fff;
        border: 2px solid rgb(68, 169, 228);
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Russo One', sans-serif;;
        
    }
}

input[type="range"] {
    width: 150px;
  }
  
  output {
    display: block;
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
  }