.footer {
  display: flex;
  background: rgb(52, 252, 139);
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: auto;
  align-items: center;
  .email{
    .input{
        padding: 10px;
        border-radius: 10px;
        border: none;
        margin: 10px 0;
    }
    
  }
  .copyright{
    .socMedia{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
  }
 
}
